## Task 1 - SQL

### Build SparkSession:

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a1547ade14fd8a41a91ca4f6c5cdc4524e81df307c7d75f78ec13feadcfe7c14
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [ ]:
spark = (SparkSession
.builder
.appName("DataFrame")
.getOrCreate())

### Read the json file:

In [ ]:
df_json = (spark.read.format('json')
          .option('inferSchema','true')
          .option('header','true')
          .load('/content/DataFrames_sample.json')
         )

In [ ]:
df_json.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [ ]:
df_json.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [ ]:
df_json.createOrReplaceTempView("MyView")

In [ ]:
df_snapshot1 = spark.sql(""" SELECT * FROM MyView
WHERE Model = 'MacBook Pro'
""")
df_snapshot1.show(5)

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display "RAM"column and count "RAM" column:

In [ ]:
df_snapshot2 = spark.sql(""" SELECT RAM, COUNT(*) as count FROM MyView GROUP BY RAM """)
df_snapshot2.show()

+----+-----+
| RAM|count|
+----+-----+
|64GB|    1|
|16GB|    1|
| 8GB|    2|
+----+-----+

### Get all columns when "Year" column equal "2015"

In [ ]:
df_snapshot3 = spark.sql(""" SELECT * FROM MyView WHERE Year = 2015 """)
df_snapshot3.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [ ]:
df_snapshot4 = spark.sql(""" SELECT * FROM MyView WHERE Model LIKE 'M%' """)
df_snapshot4.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [ ]:
df_snapshot5 = spark.sql(""" SELECT * FROM MyView WHERE RAM = '8GB' AND Model = 'MacBook' """)
df_snapshot5.show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [ ]:
df_snapshot6 = spark.sql(""" SELECT * FROM MyView WHERE D > 8 or D = 8  AND Model = 'iMac' """)
df_snapshot6.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

## Task 2

### Read "test1" dataset:

In [ ]:
df1 = (spark.read.format('csv')
          .option('inferSchema','true')
          .option('header','true')
          .load('/content/test1.csv')
         )

In [ ]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df1.createOrReplaceTempView("MyView2")

### Display Salary of the people less than or equal to 20000

In [ ]:
t1 = spark.sql(""" SELECT * FROM MyView2 WHERE Salary = 20000 OR Salary < 20000 """)
t1.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [ ]:
t2 = spark.sql(""" SELECT * FROM MyView2 WHERE Salary <= 20000 AND Salary >= 15000 """)
t2.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [ ]:
df2 = (spark.read.format('csv')
          .option('inferSchema','true')
          .option('header','true')
          .load('/content/test3.csv')
         )

### Display dataset

In [ ]:
df2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
df2.createOrReplaceTempView("MyView3")

### Group by "Name" column and using sum function on "Name" column

In [ ]:
snap1 = spark.sql(""" SELECT Name, SUM(Salary) AS Total_Salary
FROM MyView3
GROUP BY Name """)
snap1.show()

+---------+------------+
|     Name|Total_Salary|
+---------+------------+
|Sudhanshu|       35000|
|    Sunny|       12000|
|    Krish|       19000|
|   Mahesh|        7000|
+---------+------------+

### Group by "Name" column and using avg function on "Name" column

In [ ]:
snap2 = spark.sql(""" SELECT Name, AVG(Salary) AS AVG_Salary
FROM MyView3
GROUP BY Name """)
snap2.show()

+---------+------------------+
|     Name|        AVG_Salary|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [ ]:
snap3 = spark.sql(""" SELECT Departments, SUM(Salary) AS Total_Salary
FROM MyView3
GROUP BY Departments """)
snap3.show()

+------------+------------+
| Departments|Total_Salary|
+------------+------------+
|         IOT|       15000|
|    Big Data|       15000|
|Data Science|       43000|
+------------+------------+

### Apply agg to using sum function get the total of salaries

In [ ]:
snap4 = spark.sql(""" SELECT SUM(Salary) AS Total_Salary
FROM MyView3
 """)
snap4.show()

+------------+
|Total_Salary|
+------------+
|       73000|
+------------+

By Eng. Mostafa Soliman




If you have questions, please feel free to ask.

My Email : Mostafaali97@gmail.com

My Whatsapp : +201110159713